main{
    margin: 0 auto;
    text-align: center;
}
.stadium{
    background-image: url(https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/0032398f86ea753194c5eeba97eccda2-1627249600/ExportBackgroundnomoveclound/draw-a-pixel-pokemon-battle-background.gif);
}

.general{
    max-width: 980px;
    margin: 0 auto;
}

.titulos{
    text-align: center;
}


p{
    font-family: consolas;
    background-color: rgba(255, 110, 110, 0.678);
    font-weight: bolder;
    font-size: 20px;
}

//...............................//





.stadium{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.colspan{
    margin: 25px auto;
    height: 50px;
    padding: 5px;
}

.pokemones{
    margin: 5px auto;
    display: grid;
}

.pokemon1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 50%;
    img{
        width: 150px;
        height: 140px;
    }
}

.pokemon2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: end;
    padding: 5px;
    text-align: center;
    width: 50%;
    img{
        width: 130px;
        height: 120px;
    }
}

.botones{
    margin-top: 10px;
}

.btn{
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 15px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    background: hsla(0, 0%, 0%, 0.322);
    will-change: transform;
    transform: translateY(-4px);
    transition: 
        transform
        800ms
        cubic-bezier(.3,.7,.4,1);
}
// .btn:hover{
//     background-color: #03e9f4;
//     color: #050801;
//     box-shadow: 0 0 5px #03e9f4,
//                 0 0 25px #03e9f4,
//                 0 0 50px #03e9f4,
//                 0 0 200px #03e9f4;
//}

.refresh{
    background-color: rgba(255, 0, 0, 0.644);
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.hp1, .hp2{
    border-style:ridge;
    border-radius: 5px;
}




