
@media screen and (min-width:320px){
    .footerContainer{
        width: 100%;
        max-width: 980px;
        .grupo1{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        padding: 10px 0px;
        text-align: center;
        align-items: center;
        }
    }
}